{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "DocumentFragment": true
  },
  "rules": {
    "indent": [2, 4],
    "valid-jsdoc": 0,
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "no-constant-condition": 1,
    "no-underscore-dangle": 0,
    "no-use-before-define": 1,
    "func-names": 0,
    "semi": [2, "always"],
    "no-new": 0,
    "new-parens": 2,
    "no-ternary": 0,
    "new-cap": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "quotes": [2, "single"],
    "one-var": 0,
    "space-infix-ops": 0,
    "strict": 0,
    "camelcase": [2, {"properties": "never"}]
  }
}
