/build
/dist
/docs/_build
__pycache__
/*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
pip-log.txt
.DS_Store
*swp
.tox
node_modules
.coverage.*
/.nyc_output
/coverage/
/nested_admin/tests/static
.coverage
/reports/*.xml
