.djnesting-stacked .row.is-hidden {
    display: none;
}

.djnesting-stacked .inline-related > h3 > span.delete {
    float: right;
}

.djnesting-stacked .open-handler-container,
.djnesting-stacked .close-handler-container {
    display: none;
}

.djnesting-stacked.group .module .djnesting-stacked-nested.group {
    margin: 0 10px;
    width: auto;
    float: none;
    background: transparent;
}

#content-inner > .container-flexible {
    height: auto;
}

.container-flexible > .form-container > form > div {
    overflow: hidden;
}

.form-container .group.djnesting-stacked, .form-container .djnesting-stacked .module {
    min-width: 0;
}

.djnesting-stacked .span-4 {
    width: 100px;
    margin-right: 10px;
}

.djnesting-stacked .span-4 + .span-flexible {
    margin-left: 110px;
}

.djnesting-stacked .inline-related .span-4 {
    width: 80px;
    margin-right: 5px;
}

.djnesting-stacked .inline-related .span-4 + .span-flexible {
    margin-left: 85px;
}

.djnesting-stacked ul.tools li.open-handler-container,
.djnesting-stacked ul.tools li.close-handler-container,
.djnesting-stacked ul.tools li.add-handler-container {
    display: none;
}

/* Hide nested headers (e.g. "Articles") */
.djnesting-stacked-nested h2.collapse-handler {
    display: none;
}
/* More styling for nested inlines */
.djnesting-stacked-nested.group {
    border-color: transparent;
}

.djnesting-stacked-nested.group div.items .inline-related {
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
}

.djnesting-stacked-nested.group div.items .inline-related:first-child {
    margin-top: 0;
}
.djnesting-stacked-nested.group div.items .inline-related.last-related {
    margin-bottom: 0;
}

.djnesting-stacked-nested.group div.items .module:first-child {
    margin-top: 0 !important;
}
.djnesting-stacked-nested.group .module.add-item {
    background: transparent;
    border: 0;
    text-align: right;
}
.djnesting-stacked.group .module .module.add-item > :first-child,
.djnesting-stacked .module .module .module.add-item > :first-child {
    border-top: 0;
}

.djnesting-stacked .collapse.closed .subarticle-wrapper,
.djnesting-stacked .collapse.closed .nested-sortable-item {
    display: block !important;
}

.nested-placeholder, .djnesting-stacked .ui-sortable-placeholder {
    background: #9f9f9f !important;
    margin-bottom: 5px;
}
.djnesting-stacked .ui-nestedSortable-error {
    background: #9f6464 !important;
}

.nested-sortable-item .collapse .tools  .drag-handler-container {
    display: none !important;
}

.change-list .djnesting-stacked .module.footer ul.submit-row {
    min-width: 450px;
}

.djnesting-stacked div.module .items fieldset.module .row div.tools {
    top: -18px;
}

.nested-sortable-container {
    overflow: hidden;
    position: relative;
    min-height: 10px;
}
.nested-sortable-item {
    overflow: hidden;
}
.nested-sortable-item.nested-do-not-drag:first-child {
    position: absolute;
    height: 19px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.nested-sortable-item.nested-do-not-drag:first-child + .nested-sortable-item.ui-sortable-helper,
.nested-sortable-item.nested-do-not-drag:first-child + .nested-sortable-item-dragging {
    margin-top: 0;
}

.subarticle-wrapper > .nested-sortable-item.nested-do-not-drag:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.subarticle-wrapper > .nested-sortable-item.nested-do-not-drag:first-child + .nested-sortable-item,
.subarticle-wrapper > .nested-sortable-item.nested-do-not-drag:first-child + .ui-sortable-placeholder {
    margin-top: 0;
    padding-top: 0;
}

.nested-sortable-item-dragging {
    height: 0px;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}