.djn-group .row.is-hidden {
    display: none;
}

.djn-group .inline-related > h3 > span.delete {
    float: right;
}

.djn-group .open-handler-container,
.djn-group .close-handler-container {
    display: none;
}

.djn-group .djn-group-nested {
    margin: 0 10px;
    width: auto;
    float: none;
    background: transparent;
}

#content-inner > .container-flexible {
    height: auto;
}

.container-flexible > .form-container > form > div {
    overflow: hidden;
}

.form-container .group.djn-group, .form-container .djn-group .module {
    min-width: 0;
}

.djn-group .span-4 {
    width: 100px;
    margin-right: 10px;
}

.djn-group .span-4 + .span-flexible {
    margin-left: 110px;
}

.djn-group .inline-related .span-4 {
    width: 80px;
    margin-right: 5px;
}

.djn-group .inline-related .span-4 + .span-flexible {
    margin-left: 85px;
}

.djn-group ul.tools li.open-handler-container,
.djn-group ul.tools li.close-handler-container,
.djn-group ul.tools li.add-handler-container {
    display: none;
}

/* Hide nested headers (e.g. "Articles") */
.djn-group-nested h2.collapse-handler {
    display: none;
}
/* More styling for nested inlines */
.djn-group-nested.group {
    border-color: transparent;
}

.djn-group-nested.group div.items .inline-related {
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
}

.djn-group-nested.group div.items .inline-related:first-child {
    margin-top: 0;
}
.djn-group-nested.group div.items .inline-related.last-related {
    margin-bottom: 0;
}

.djn-group-nested.group div.items .module:first-child {
    margin-top: 0 !important;
}
.djn-group-nested.djn-stacked .module.add-item {
    background: transparent;
    border: 0;
    text-align: right;
}
.djn-group.group .module .module.add-item > :first-child,
.djn-group .module .module .module.add-item > :first-child {
    border-top: 0;
}

.djn-group .collapse.closed .subarticle-wrapper,
.djn-group .collapse.closed .djn-item {
    display: block !important;
}

.nested-placeholder, .djn-group .ui-sortable-placeholder {
    background: #9f9f9f !important;
    margin-bottom: 5px;
}
.djn-group .ui-nestedSortable-error {
    background: #9f6464 !important;
}

.djn-item.collapse .tools  .drag-handler-container {
    display: none !important;
}

.change-list .djn-group .module.footer ul.submit-row {
    min-width: 450px;
}

.djn-group div.module .items fieldset.module .row div.tools {
    top: -18px;
}

.djn-items {
    overflow: visible;
    position: relative;
    min-height: 10px;
}
.djn-items.djn-table {
    overflow: visible;
}
.djn-item {
    overflow: visible;
}
.djn-item.djn-no-drag:first-child {
    position: absolute;
    height: 19px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.djn-item.djn-no-drag:first-child + .djn-item.ui-sortable-helper,
.djn-item.djn-no-drag:first-child + .djn-item-dragging {
    margin-top: 0;
}

.subarticle-wrapper > .djn-item.djn-no-drag:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.subarticle-wrapper > .djn-item.djn-no-drag:first-child + .djn-item,
.subarticle-wrapper > .djn-item.djn-no-drag:first-child + .ui-sortable-placeholder {
    margin-top: 0;
    padding-top: 0;
}

.djn-item-dragging {
    height: 0px;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

tbody.djn-item-dragging {
     display: none !important;
}
tbody.ui-sortable-placeholder td {
    background: #fbfad0;
}
#content.colM tr.grp-predelete {
    background: #f7dddd !important;
}

.inline-group ul.tools a.grp-delete-handler span.delete {
    display: none;
}

#content.colM .inline-group .tabular .ui-sortable-placeholder tr.has_original td {
    padding: 1px;
}

#grp-content .grp-tabular .grp-table .grp-tbody .grp-th,
#grp-content .grp-tabular .grp-table .grp-tbody .grp-td {
    vertical-align: middle;
    overflow: visible;
}

#grp-content .grp-tabular .grp-table .grp-tbody .grp-tr > td.original:first-child {
    width: 0;
    padding: 0;
    border: 0;
    background: #eee;
}

#grp-content .grp-tabular .grp-table .grp-tbody .grp-tr.djn-has-inlines .grp-td {
    border-bottom: 0 !important;
}

#content.colM .inline-group ul.tools a.grp-delete-handler span.delete {
    display: inline;
}
#content.colM .inline-group ul.tools a.inline-deletelink,
#content.colM .inline-group ul.tools a.grp-delete-handler {
    float: right;
    margin-top: -18px;
}
#content.colM .inline-group .tabular ul.tools a.grp-delete-handler span.delete {
    display: block;
}
#content.colM .inline-group .tabular ul.tools a.grp-delete-handler span.delete label {
    display: none;
}
#content.colM .inline-group .tabular ul.tools a.inline-deletelink,
#content.colM .inline-group .tabular ul.tools a.grp-delete-handler {
    display: block;
    float: none;
    margin: 0;
}
#content.colM .inline-group ul.tools {
    height: 0;
}
#content.colM .djn-item.module {
    margin-bottom: 0;
}
#content.colM .inline-group.djn-group .tabular ul.tools li {
    display: block;
    padding: 0;
    list-style-type: none;
}

.grp-empty-form {
    display: none !important;
}
.grp-empty-form * {
    display: none !important;
}

.empty-form-container tr {
    display: none !important;
}

#content.colM tr.djn-has-inlines td {
    border-bottom: 1px solid #fff;
}

#content.colM td.original {
    padding: 2px 0 0 0;
    width: 0;
}

#content.colM td.original.is-sortable {
    position: relative;
    width: 15px;
}
#content.colM td.original.is-sortable .djn-drag-handler {
    display: block;
    height: 20px;
    width: 10px;
    background: url('drag-handle.png') no-repeat top left;
    background-size: 10px 25px;
    margin: 5px;
    position: absolute;
    top: 4px;
    left: 0;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
#content.colM td.original.is-sortable .djn-drag-handler:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#content.colM td.original.is-sortable p + .djn-drag-handler {
    top: 20px;
}

#content.colM td.original.is-sortable p {
    left: 19px;
    top: 0;
}