{% load i18n grp_tags nested_admin %}
{% with inline_admin_formset.formset.is_nested as is_nested %}

{% with inline_admin_formset.opts as inline_opts %}
<div class="group grp-group stacked grp-stacked djnesting-stacked{% if is_nested %} djnesting-stacked-nested{% else %} djnesting-stacked-root{% endif %}"
    id="{{ inline_admin_formset.formset.prefix }}-group"
    {% block group_data_attributes %}
    data-sortable-field-name="{% if inline_admin_formset.opts.sortable_field_name %}{{ inline_admin_formset.opts.sortable_field_name }}{% endif %}"
    data-lookup-related-fk="{% get_safe_related_lookup_fields_fk inline_opts %}"
    data-lookup-related-m2m="{% get_safe_related_lookup_fields_m2m inline_opts %}"
    data-lookup-related-generic='{% get_safe_related_lookup_fields_generic inline_opts %}'
    data-lookup-autocomplete-fk="{% get_safe_autocomplete_lookup_fields_fk inline_opts %}"
    data-lookup-autocomplete-m2m="{% get_safe_autocomplete_lookup_fields_m2m inline_opts %}"
    data-lookup-autocomplete-generic="{% get_safe_autocomplete_lookup_fields_generic inline_opts %}"
    data-formset-fk-name="{{ inline_admin_formset.formset.fk.name }}"
    {% if inline_admin_formset.formset.nesting_depth %}data-nesting-level="{{ inline_admin_formset.formset.nesting_depth }}"{% endif %}
    data-field-names='{"pk": "{{ inline_opts.opts.pk.name }}"{% if inline_opts.sortable_field_name %}, "position": "{{ inline_opts.sortable_field_name }}"{% endif %}}'
    data-inline-model="{{ inline_opts.opts.object_name|lower }}"{% endblock %}>
    <h2 class="collapse-handler grp-collapse-handler">{% if inline_admin_formset.opts.title %}{{ inline_admin_formset.opts.title }}{% else %}{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}{% endif %}</h2>
    <ul class="tools grp-tools">
        <li class="open-handler-container"><a href="javascript://" class="icon open-handler grp-icon grp-open-handler" title="{% trans 'Open All Items' %}"></a></li>
        <li class="close-handler-container"><a href="javascript://" class="icon close-handler grp-icon grp-close-handler" title="{% trans 'Close All Items' %}"></a></li>
        <li class="add-handler-container"><a href="javascript://" class="icon add-handler grp-icon grp-add-handler djnesting-icon {{ inline_opts.handler_classes|join:" "|default:"" }} {{ inline_opts.opts.object_name|lower }}" title="{% trans 'Add Item' %}"> </a></li>
    </ul>

    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    <div class="items nested-sortable-container grp-items"
      {% if inline_admin_formset.opts.sortable_options %}
      data-sortable-options="{{ inline_admin_formset.opts.sortable_options|json_encode }}"
      {% endif %}>

        {% with inline_admin_formset.opts.sortable_field_name|default:"" as sortable_field_name %}
        {% for inline_admin_form in inline_admin_formset|formsetsort:sortable_field_name %}
            {% if forloop.first %}
            <div class="nested-sortable-item nested-do-not-drag"><div></div></div>
            {% endif %}
            {{ inline_admin_form.management_form }}
            <div class="{% if not forloop.last %}nested-sortable-item{% else %}empty-form-container{% endif %}">
            <div class="module grp-module nested-inline-form {{ inline_admin_formset.opts.inline_classes|join:" "|default:"collapse grp-collapse closed grp-closed" }} {% if inline_admin_formset.opts.classes %} {{ inline_admin_formset.opts.classes|join:" " }}{% endif %}{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form grp-empty-form{% endif %}{% if is_nested %} inline-related{% endif %}"
                 {% if inline_admin_form.pk_field.field %}
                 data-is-initial="{% if inline_admin_form.pk_field.field.value %}true{% else %}false{% endif %}"
                 {% endif %}
                 id="{{ inline_admin_formset.formset.prefix }}{% if forloop.last %}-empty{% else %}{%if is_nested %}{% endif %}{{ inline_admin_form.form|form_index }}{% endif %}">
                <h3 class="collapse-handler grp-collapse-handler{% if not inline_opts.sortable_options or not inline_opts.sortable_options.disabled %} djnesting-drag-handler{% endif %}">{% if inline_admin_form.original %}{{ inline_admin_form.original|striptags|safe }}{% else %}{{ inline_admin_formset.opts.verbose_name|strip_parent_name:inline_opts.verbose_name|title }}{% endif %}</h3>
                <ul class="tools grp-tools">
                    {% if inline_admin_form.show_url %}<li class="viewsite-link-container"><a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/" class="icon viewsite-link" title="{% trans 'View on site' %}" target="_blank"></a></li>{% endif %}
                    {% if inline_admin_formset.opts.sortable_field_name %}
                        <li class="drag-handler-container"><a href="javascript://" class="icon drag-handler grp-icon grp-drag-handler" title="{% trans 'Move Item' %}"></a></li>
                    {% endif %}
                    {% if inline_admin_formset.formset.can_delete %}
                        {% if inline_admin_form.original %}
                            <li class="delete-handler-container grp-delete-handler-container">{{ inline_admin_form.deletion_field.field }}<a href="javascript://" class="icon delete-handler grp-icon grp-delete-handler djnesting-icon {{ inline_opts.handler_classes|join:" "|default:"" }} {{ inline_opts.opts.object_name|lower }}" title="{% trans 'Delete Item' %}"></a></li>
                        {% else %}
                            <li class="remove-handler-container grp-remove-handler-container">{{ inline_admin_form.deletion_field.field }}<a href="javascript://" class="icon remove-handler grp-icon grp-remove-handler djnesting-icon {{ inline_opts.handler_classes|join:" "|default:"" }} {{ inline_opts.opts.object_name|lower }}" title="{% trans 'Delete Item' %}"></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if inline_admin_form.form.non_field_errors %}
                    <ul class="errorlist">
                        <li>{{ inline_admin_form.form.non_field_errors }}</li>
                    </ul>
                {% endif %}

                {% for fieldset in inline_admin_form %}
                    {% include "nesting/admin/includes/inline.html" %}
                {% endfor %}
                {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}
                    {{ inline_admin_form.pk_field.field }}
                {% endif %}
                {{ inline_admin_form.fk_field.field }}
                {% if inline_admin_form.form.inlines %}
                    {% for nested in inline_admin_form.form.inlines %}
                        {% include nested.opts.template with inline_admin_formset=nested %}
                    {% endfor %}
                {% endif %}

                {% if forloop.last %}
                    {% if inline_admin_formset.inlines %}
                        {% for nested in inline_admin_formset.inlines %}
                            {% include nested.opts.template with inline_admin_formset=nested %}
                        {% endfor %}
                    {% endif %}
                {% endif %}

                </div>

            </div>
        {% endfor %}
        {% endwith %}

        {% if inline_admin_form.inlines %}
            {% for nested in inline_admin_form.inlines %}

              {% include nested.opts.template %}
            {% endfor %}
        {% endif %}
        {{ inline_admin_formset.extra_forms }}
    </div>
    <div class="module grp-module add-item grp-add-item">
        <a href="javascript://" class="add-handler grp-add-handler djnesting-icon {{ inline_opts.handler_classes|join:" "|default:"" }} {{ inline_opts.opts.object_name|lower }}">{% blocktrans with inline_admin_formset.opts.verbose_name|strip_parent_name:inline_opts.verbose_name|title as verbose_name %}Add {{ verbose_name }}{% endblocktrans %}</a>
        <ul class="tools grp-tools">
            <li class="add-handler-container"><a href="javascript://" class="icon add-handler djnesting-icon" title="{% trans 'Add Item' %}"> </a></li>
        </ul><br clear="all" />
    </div>
</div>
{% endwith %}{# ends with inline_admin_formset.opts as inline_opts #}

{% endwith %}{# ends {% with inline_admin_formset.formset.is_nested as is_nested %} #}