{% spaceless %}
    <fieldset class="module grp-module {{ fieldset.classes }}">
        {% if fieldset.name %}<h4 class="collapse-handler grp-collapse-handler">{{ fieldset.name }}</h4>{% endif %}
        {% if fieldset.description %}<div class="grp-row"><p class="description grp-description">{{ fieldset.description|safe }}</p></div>{% endif %}
        {% for line in fieldset %}
            <div class="row grp-row grp-cells-{{ line.fields|length }}{% if not line.fields|length_is:"1" %} grp-cells{% else %}{% if line.errors %} grp-errors{% endif %}{% endif %}{% for field in line %} {{ field.field.name }}{% if field.field.is_hidden %} is-hidden{% endif %}{% endfor %} ">
                {% for field in line %}
                    {# <div{% if not line.fields|length_is:"1" %} class="cell {{ field.field.name }}{% if field.errors %} error{% endif %}"{% endif %}> #}
                    <div class="l-2c-fluid l-d-4{% if line.fields|length_is:"1" %} cell grp-cell {{ field.field.name }}{% if field.field.errors %} grp-errors{% endif %}{% endif %}">                    
                        {% if field.is_checkbox %}
                            <div class="c-1 column span-4">&nbsp;</div>
                            <div class="c-2 column span-flexible">
                                {{ field.field }}{{ field.label_tag }}
                        {% else %}
                            <div class="c-1 column span-4">{{ field.label_tag }}</div>
                            <div class="c-2 column span-flexible">
                                {% if field.is_readonly %}
                                    <p class="grp-readonly readonly">{{ field.contents }}</p>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                        {% endif %}
                            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.field.field.help_text %}
                                <p class="grp-help help">{{ field.field.field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
{% endspaceless %}